/*////////////// Fonts //////////////*/

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	margin: 20px;
	color: rgb(98, 114, 109);
}

.wrapper {
	display: inline-block;
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
/*///columns*/
.col-1 {
	width: auto;
	float: left;
}

/*layout*/

h1 {
	color: rgb(150,175,168);
}

footer {
	float: right;
}
